.mainContainerTPP {
    /* border: 1px solid rgb(212, 211, 211); */
    margin-top: 10px;
    height: 320px;
    overflow-x: hidden;
    width: auto;
}
.subContainerTPP{
    border: 1px solid rgb(212, 211, 211);
    /* padding-top: 10px; */
    width: 180px;
    margin-left: 15px;
    border-radius: 16px;  
}

.influencerImageTPP {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 5px;
}

.influencerNameTPP {
    font-size: 10px;
    height: auto;
    width: 50px;
    text-align: left;
    margin-top: 10px;
}
.influencerUserNameTPP {
    font-size: 10px;
    color: grey;
    margin-top: -15px;
    text-align: left;
}
.detailsTPP {
    font-size: 10px;
    color: grey;
}

.postTPP {
    width: 100%;
    height: 120px;
    object-fit: cover;
}
.likesTPP, .commentsTPP {
    font-size: 10px;
    color: grey;
}
.nameTPP {
    font-size: 10px;
    text-align: start;
}
.hashtagTPP {
    font-size: 8px;
    text-align: right;
    /* margin-top: 5px; */
}
.dateTPP {
    font-size: 10px;
    text-align: start;
    margin-top: -13px;
}
.commentsTPP {
    text-align: right;
    margin-top: -10px;
}