<h1>home heh</h1>
{% extends 'main.html' %}

{% block content %}

<div>
    <div>
        <h3>filter campaigns</h3><hr>
        <input type="text" name="q" placeholder="Search Camapaigns.."/>
        <div>
            <a href="{% url 'campaigns' %}">All</a>
        </div>
        
        {% for hashtag in hashtags %}
        <div>
            <a href="{% url 'campaigns' %}? q={{hashtag.name}}">{{hashtag.name}}</a>
        </div>
        {% endfor %}

    </div>
    <div>
        <h3>{{campaign_count}}campaigns available</h3>
        <a href="{% url 'create-campaign' %}">create campaign</a>
        <div>
            {% for campaign in campaigns %}
            <div>
                <a href="{% url 'update-campaign' campaign.id%}">update campaign</a>
                <a href="{% url 'delete-campaign' campaign.id%}">delete campaign</a>
                <h5>{{campaign.id}} -- <a href="{% url 'campaign' campaign.id %}">{{campaign.name}}</a></h5>
                <img style="max-width: 100px" src={{campaign.image.url}}/>
            </div>
            {% endfor %}
        </div>

    </div>
</div>

{% endblock content %}

