<h1>home heh</h1>
{% extends 'main.html' %}

{% block content %}

<h1>home</h1>

<div>
    <h6>{{room_count}}rooms available</h6>
    <a href="{% url 'create-room' %}">create room</a>
<div>
    {% for room in rooms %}
    <div>
        <a href="{% url 'update-room' room.id%}">update room</a>
        <a href="{% url 'delete-room' room.id%}">delete room</a>
        <h5>{{room.id}} -- <a href="{% url 'room' room.id %}">{{room.name}}</a></h5>
    </div>
    {% endfor %}
</div>
</div>
{% endblock content %}

