<h1>home heh</h1>
{% extends 'main.html' %}

{% block content %}

<h1>influncers</h1>

<div>
    <h6>{{influencer_count}}influencers available</h6>
    <a href="{% url 'create-influencer' %}">create influencer</a>
<div>
    {% for influencer in influencers %}
    <div>
        <a href="{% url 'update-influencer' influencer.id%}">update influencer</a>
        <a href="{% url 'delete-influencer' influencer.id%}">delete influencer</a>
        <h5> {{influencer.id}} -- <a href="{% url 'influencer' influencer.id %}">{{influencer.influencer_full_name}}</a></h5>
    </div>
    {% endfor %}
</div>
</div>
{% endblock content %}

