.mainContainerC {
    overflow-x: scroll;
    height: 280px;
    overflow-y: hidden;
    margin-bottom: 3%;
    margin-top: 1%;
    justify-content: left;
    align-items:start;  
}
.subContainerC {
    border: 1px solid rgb(198, 198, 198);
    padding: 10px;
    width: 180px;
    margin-left: 15px;
    border-radius: 16px;  
    justify-content: left;
    align-items:start;  
}
.typeC {
    font-size: 8px;
    color: white;
    /* background-color: green; */
    /* margin-top: -10px; */
    border-radius: 16px;
    padding: 0px 5px 3px 5px;
    text-align: center;
}
.hashtagC {
    font-size: 8px;
    text-align: right;
    /* margin-top: 5px; */
}
.imageC {
    width: 150px;
    border-radius: 15%;
    height: 150px;
    object-fit: cover;
}
.nameC {
    font-size: 10px;
    text-align: start;
    /* margin-top:5px; */
}
.influencersC {
    font-size: 10px;
    text-align: start;
}
.dateC {
    font-size: 10px;
    text-align: start;
    margin-top: -13px;
    /* margin-top: -10px; */
}
.createButton {
    margin-top: -10px;
}

