<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <h2>Login</h2>
    {% if error_message %}
        <p>{{ error_message }}</p>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" name="username" required><br>

        <label for="password">Password:</label>
        <input type="password" name="password" required><br>

        <input type="submit" value="Login">
    </form>
</body>
</html>



<!-- {% extends 'main.html' %}

{% block content %}
<div>
    <form method="POST" action="">
        {% csrf_token %}

        <label>username: </label>
        <input type="text" name="username" placeholder="enter username" />
        
        <label>password: </label>
        <input type="password" name="password" placeholder="enter password" />
        
        <input type="submit" value="Login"/>
    </form>
</div>

{% endblock content %} -->
